@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  background: #fff;
  line-height: 1.5;
  min-width: 320px;
  color: #83390e;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: auto;
  height: auto;
  margin: 0 auto;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.light {
  opacity: 1;
}

.light:hover {
  opacity: 0.8;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.wrapper {
  background: #fefce5;
  position: relative;
  min-width: 960px;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 2.66667vw;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .wrapper {
    min-width: 100%;
  }
}

/* ////////////////////////////////////
      mv
///////////////////////////////////// */
#mv {
  position: relative;
  padding: 0.23438% 0 0.9375%;
  background-image: url(../images/mv_bg_pc.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#mv::before {
  position: absolute;
  bottom: 0;
  margin-bottom: -2.1875%;
  left: 0;
  content: "";
  width: 100%;
  height: 0;
  padding-bottom: 2.26562%;
  background-image: url(../images/line01_pc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  z-index: 1;
}

#mv .mv_head {
  position: relative;
  margin: 0 auto 37.5%;
  max-width: 51.71875%;
  left: 0.85938%;
}

#mv .mv_ttl {
  margin: 0 auto;
  width: 65.78125%;
}

@media screen and (max-width: 768px) {
  #mv {
    padding: 0 0 0.4em;
    background-image: url(../images/mv_bg_sp.jpg);
  }
  #mv::before {
    margin-bottom: -1.75em;
    padding-bottom: 1.9em;
    background-image: url(../images/line01_sp.png);
  }
  #mv .mv_head {
    margin: 0 auto 33.7em;
    max-width: 33.1em;
    width: 33.1em;
    left: 0.55em;
  }
  #mv .mv_ttl {
    width: 33.5em;
  }
}

/* ////////////////////////////////////
      about
///////////////////////////////////// */
#about {
  position: relative;
  background-color: #ffeec8;
  padding: 40px 0 100px;
  /*  */
  /* check */
}

#about::after {
  position: absolute;
  opacity: 0.7;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0;
  padding-bottom: 39.0625%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(10%, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(360deg, white 0%, white 10%, rgba(255, 255, 255, 0) 100%);
}

#about .about_txt {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  width: 76.25%;
}

#about .about_txt.notyet {
  margin-top: 27px;
}

#about .about_presentList {
  position: relative;
  z-index: 1;
}

#about .about_presentList .about_presentListItem {
  margin-left: auto;
  margin-right: auto;
  width: 89.14062%;
}

#about .about_presentList .about_presentListItem + .about_presentListItem {
  margin-top: -12.03125%;
}

#about .agree_txt {
  position: relative;
  width: 213px;
  margin: 5px auto 15px;
  cursor: pointer;
}

#about .agree_txt label {
  cursor: pointer;
}

#about .agree_txt .checkbox {
  display: none;
}

#about .agree_txt .checkbox:checked + span::after {
  content: "";
  position: absolute;
  display: block;
  top: -0.5em;
  left: 0.45em;
  width: 0.9em;
  height: 1.64em;
  border-bottom: 0.36em solid #fa0000;
  border-right: 0.36em solid #fa0000;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

#about .agree_txt a {
  overflow: hidden;
  text-indent: -100%;
  white-space: nowrap;
  bottom: 4px;
  left: 39px;
  height: 23px;
  position: absolute;
  display: block;
  width: 80px;
  border-bottom: 2px solid #bb5e45;
}

#about .agree_txt a:hover {
  border-bottom: none;
}

#about .cp_btn {
  text-align: center;
  margin-bottom: 5px;
}

#about .cp_btn a,
#about .cp_btn span {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  #about {
    padding: 1.2em 0 0;
    /*  */
    /* check */
  }
  #about::after {
    content: none;
  }
  #about .about_ttl {
    margin-left: auto;
    margin-right: auto;
    width: 32.5em;
  }
  #about .about_txt {
    margin-bottom: 2.5em;
    width: 100%;
  }
  #about .about_txt.notyet {
    margin-top: 2.5em;
  }
  #about .about_presentList .about_presentListItem {
    width: 100%;
  }
  #about .about_presentList .about_presentListItem + .about_presentListItem {
    margin-top: -1.75em;
  }
  #about .agree_txt {
    width: 15.95em;
    margin: 1.65em auto 1.35em;
  }
  #about .agree_txt .checkbox:checked + span::after {
    top: -0.2em;
    left: 0.65em;
    width: 0.9em;
    height: 1.64em;
  }
  #about .agree_txt a {
    bottom: 0.3em;
    left: 3.1em;
    height: 1.8em;
    width: 5.85em;
  }
  #about .cp_btn {
    width: 27.1em;
    margin: 0 auto 0.3em;
  }
}

/* ////////////////////////////////////
      details
///////////////////////////////////// */
#details {
  padding: 100px 0 150px;
  background-image: url(../images/cnt_bg.png);
  background-size: 25px auto;
  /* product */
  /* howto */
  /* receipt */
  /* terms */
}

@media screen and (max-width: 768px) {
  #details {
    padding: 5.4em 0 11em;
    background-size: 2.5em auto;
  }
}

#details .product {
  margin-bottom: 70px;
}

#details .product .product_ttl {
  margin-bottom: 55px;
}

#details .product .product_txt {
  margin-bottom: 42px;
}

#details .product .product_list {
  margin-bottom: 30px;
}

#details .product .product_listItem + .product_listItem {
  margin-top: 48px;
}

#details .product .product_noteTxt {
  margin: 0 auto;
  max-width: 980px;
  font-size: 14px;
  line-height: 1.86;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  #details .product {
    margin-bottom: 5.5em;
  }
  #details .product .product_ttl {
    width: 34em;
    margin: 0 auto 2.35em;
  }
  #details .product .product_txt {
    width: 34em;
    margin: 0 auto 3em;
  }
  #details .product .product_list {
    margin-bottom: 3em;
  }
  #details .product .product_listItem {
    margin-right: auto;
    margin-left: auto;
    width: 34em;
  }
  #details .product .product_listItem:last-child {
    width: 33.2em;
  }
  #details .product .product_listItem + .product_listItem {
    margin-top: 3.2em;
  }
  #details .product .product_noteTxt {
    margin-right: 1.66667em;
    margin-left: 1.66667em;
    max-width: inherit;
    font-size: 1.2em;
    line-height: 1.5;
  }
}

#details .howto {
  margin: 0 auto 40px;
  max-width: 980px;
  /*  */
  /*  */
  /*  */
}

#details .howto .howto_detailsWrap {
  padding-top: 67px;
  padding-bottom: 20px;
  background-color: #fff;
}

#details .howto .howto_stepList {
  margin-bottom: 55px;
}

#details .howto .howto_stepListItem + .howto_stepListItem {
  margin-top: 30px;
  padding-top: 50px;
  background-image: url(../images/howto_stepArrow_pc.png);
  background-repeat: no-repeat;
  background-position: center top;
}

#details .howto .item_txt {
  margin-bottom: 20px;
}

#details .howto .howto_stepListItem:first-child .item_txt {
  margin-bottom: 10px;
}

#details .howto .howto_stepNotesList {
  margin: 0 auto;
  width: 730px;
  font-size: 14px;
  line-height: 1.5;
}

#details .howto .howto_stepNotesList .howto_stepNotesListItem {
  margin-left: 1em;
  text-indent: -1em;
}

#details .howto .howto_notesWrap {
  margin: 0 20px;
  padding: 25px 0 30px;
  background: #fffa78;
}

#details .howto .howto_notesWrap .notes_head {
  margin-bottom: 32px;
}

#details .howto .notes_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#details .howto .notes_list .notes_listItem {
  width: calc((100% - 80px) / 3);
}

#details .howto .notes_list .notes_listItem + .notes_listItem {
  padding-left: 28px;
  border-left: 1px solid #83390e;
}

#details .howto .notes_list .notes_listItem:nth-child(2) {
  padding-left: 22px;
  width: 300px;
}

#details .howto .notes_list .item_head {
  margin-bottom: 6px;
}

#details .howto .notes_list .item_head img {
  margin: 0;
}

#details .howto .notes_list .item_period {
  line-height: 1.4;
  font-size: 15px;
}

#details .howto .notes_list .item_period span {
  display: block;
  text-indent: -2.5em;
  margin-left: 2.5em;
}

#details .howto .notes_list .item_receipt {
  line-height: 1.4;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  #details .howto {
    margin: 0 auto 2em;
    width: 34em;
    margin: 0 auto 2.35em;
    max-width: 34em;
    /*  */
    /*  */
    /*  */
  }
  #details .howto .howto_detailsWrap {
    padding-top: 4.75em;
    padding-bottom: 1.5em;
  }
  #details .howto .howto_stepList {
    margin-bottom: 4.1em;
  }
  #details .howto .howto_stepListItem + .howto_stepListItem {
    margin-top: 2em;
    padding-top: 4em;
    background-image: url(../images/howto_stepArrow_sp.png);
    background-size: 28em auto;
  }
  #details .howto .item_txt {
    width: 28.35em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.35em;
  }
  #details .howto .howto_stepListItem:first-child .item_txt {
    margin-bottom: 0.6em;
  }
  #details .howto .howto_stepNotesList {
    width: 23.33333em;
    font-size: 1.2em;
    line-height: 1.67;
  }
  #details .howto .howto_stepNotesList .howto_stepNotesListItem {
    display: inline;
    margin-left: 0;
    text-indent: 0;
  }
  #details .howto .howto_notesWrap {
    margin: 0 1em;
    padding: 2.1em 0 2em;
  }
  #details .howto .howto_notesWrap .notes_head {
    margin-left: 1.7em;
    margin-right: 1.7em;
    margin-bottom: 2.75em;
  }
  #details .howto .notes_list {
    display: block;
  }
  #details .howto .notes_list .notes_listItem {
    margin: 0 2em;
    padding-top: 1.65em;
    width: auto;
    border-top: 1px solid #83390e;
  }
  #details .howto .notes_list .notes_listItem + .notes_listItem {
    margin-top: 1.6em;
    padding-left: 0;
    border-left: none;
  }
  #details .howto .notes_list .notes_listItem:nth-child(2) {
    padding-left: 0;
    width: auto;
  }
  #details .howto .notes_list .item_head {
    margin-bottom: 0.5em;
  }
  #details .howto .notes_list .item_period {
    font-size: 1.2em;
    line-height: 1.67;
  }
  #details .howto .notes_list .item_period span {
    text-indent: 0;
    margin-left: 0;
  }
  #details .howto .notes_list .item_receipt {
    font-size: 1.2em;
    line-height: 1.67;
  }
}

#details .receipt {
  margin: 0 auto 40px;
  max-width: 980px;
}

#details .receipt .receipt_detailsWrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  padding-right: 47px;
  padding-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

#details .receipt .receipt_detailsLeft {
  width: 370px;
}

#details .receipt .receipt_detailsLeft .receipt_txt {
  margin-bottom: 25px;
}

#details .receipt .receipt_detailsLeft .receipt_notesList {
  font-size: 14px;
  line-height: 1.5;
}

#details .receipt .receipt_detailsLeft .receipt_notesListItem {
  text-indent: -1em;
  margin-left: 1em;
}

#details .receipt .receipt_detailsRight {
  margin-left: 65px;
}

@media screen and (max-width: 768px) {
  #details .receipt {
    margin: 0 auto 2em;
    width: 34em;
    max-width: 34em;
  }
  #details .receipt .receipt_detailsWrap {
    display: block;
    padding-top: 3.35em;
    padding-right: 0;
    padding-bottom: 3em;
  }
  #details .receipt .receipt_detailsLeft {
    width: auto;
    margin-right: 2.85em;
    margin-left: 2.85em;
    margin-bottom: 2.45em;
  }
  #details .receipt .receipt_detailsLeft .receipt_txt {
    width: 28.3em;
    margin: 0 auto 2.1em;
  }
  #details .receipt .receipt_detailsLeft .receipt_notesList {
    font-size: 1.2em;
    line-height: 1.67;
  }
  #details .receipt .receipt_detailsRight {
    width: 27.65em;
    margin-left: 3.1em;
  }
}

#details #terms {
  margin: 0 auto 64px;
  max-width: 980px;
  /* dl dt {
      font-weight: bold;
    } */
}

#details #terms .terms_detailsWrap {
  padding-top: 53px;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

#details #terms .terms_txt {
  margin-bottom: 40px;
}

#details #terms .terms_cntWrap {
  height: 360px;
  margin: 0 20px;
  border: 1px solid #83390e;
  overflow-y: scroll;
  padding: 0px 40px;
  -webkit-overflow-scrolling: touch;
  word-break: break-all;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  #details #terms ::-webkit-scrollbar {
    background: #fff;
  }
  #details #terms ::-webkit-scrollbar-thumb {
    background: #a65e48;
    border: 0px solid #a65e48;
  }
}

#details #terms .terms_cntHead {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 36px;
  font-size: 21px;
  line-height: 1;
  font-weight: 600;
}

#details #terms .terms_cntTxt {
  position: relative;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1;
}

#details #terms .terms_cntTxt span {
  position: relative;
  background-color: #fff;
  padding: 0 12px;
}

#details #terms .terms_cntTxt::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: #83390e;
}

#details #terms dl {
  padding-bottom: 70px;
  font-size: 16px;
  line-height: 1.5;
}

#details #terms dl dd + dt {
  margin-top: 25px;
}

#details #terms .nums_list {
  text-indent: -1.1em;
  margin-left: 1.1em;
}

#details #terms .nums_list .terms_notesList {
  margin-left: 1em;
}

#details #terms .dot {
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
}

#details #terms .terms_notesList {
  text-indent: -1em;
  margin-left: 1em;
}

#details #terms .nums_listItem + .nums_listItem {
  margin-top: 1em;
}

@media screen and (max-width: 768px) {
  #details #terms {
    margin: 0 auto 4.95em;
    width: 34em;
    max-width: 34em;
  }
  #details #terms .terms_detailsWrap {
    padding-top: 3.5em;
    padding-bottom: 1em;
  }
  #details #terms .terms_txt {
    width: 23.7em;
    margin: 0 auto 3.5em;
  }
  #details #terms .terms_cntWrap {
    height: 34em;
    margin: 0 1em;
    padding: 0px 2em;
  }
  #details #terms .terms_cntHead {
    padding-top: 2.33333em;
    margin-bottom: 1.5em;
    font-size: 1.5em;
  }
  #details #terms .terms_cntTxt {
    margin-bottom: 0.89286em;
    font-size: 1.4em;
  }
  #details #terms .terms_cntTxt span {
    padding: 0 0.42857em;
  }
  #details #terms dl {
    padding-bottom: 2.91667em;
    font-size: 1.2em;
    line-height: 1.583;
  }
  #details #terms dl dd + dt {
    margin-top: 1.66667em;
  }
  #details #terms dl dd .block {
    display: block;
    text-indent: -1em;
    margin-left: 1em;
  }
}

/* ////////////////////////////////////
      contact
///////////////////////////////////// */
@media screen and (max-width: 768px) {
  .contact {
    margin: 0 auto;
    width: 28.4em;
  }
}

/* ////////////////////////////////////
      footer
///////////////////////////////////// */
#footer {
  position: relative;
  padding: 73px 40px 30px;
  background-color: #cc8362;
}

#footer::before {
  position: absolute;
  top: 0;
  margin-top: -2.26562%;
  left: 0;
  content: "";
  width: 100%;
  padding-bottom: 2.26562%;
  background-image: url(../images/line02_pc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  z-index: 1;
}

#footer .footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer_copyTxtTop {
  margin-bottom: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1;
}

#footer .footer_copyTxtBtm {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 1;
}

#footer .footer_logo {
  width: 162px;
  margin-bottom: -3px;
}

@media screen and (max-width: 768px) {
  #footer {
    position: relative;
    padding: 3.9em 0 4.6em;
  }
  #footer::before {
    margin-top: -1.9em;
    padding-bottom: 1.9em;
    background-image: url(../images/line02_sp.png);
  }
  #footer .footer_inner {
    display: block;
  }
  #footer .footer_copyTxtTop {
    margin-bottom: 7.83333em;
    font-size: 1.2em;
    text-align: center;
  }
  #footer .footer_copyTxtBtm {
    font-size: 0.95em;
    letter-spacing: 0;
    text-align: center;
  }
  #footer .footer_logo {
    position: absolute;
    width: 13.6em;
    bottom: 7.1em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */